@import url("reset.css");



/* sky */

.main{
	background-color: rgb(159, 226, 243);
	min-height: 100vh;
}
.main__container {
	position: relative;
}
.element {
	padding-top: 100px;
	display: flex;
	justify-content: space-around;
	position: relative;
}
.element__cloud {
	width: 200px;
	height: 70px;
	background-color: white;
	border-radius: 50%;
	position: relative;
	z-index: 2;
}
.element__cloud::before{
	content: "";
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: white;
	position: absolute;
	top: -32px;
	left: 73px;
}
.element__cloud::after{
	content: "";
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: white;
	position: absolute;
	top: -26px;
	left: 26px;
}
.firstcloud {
	animation: cloudfirst 60s infinite;
}
@keyframes cloudfirst {
	0%{
		transform: translate(0px);
	}
	50%{
		transform: translate(1300px);
	}
	100%{
		transform: translate(0px);
	}
}
.secondcloud {
	animation: cloudsecond 50s infinite;
}
@keyframes cloudsecond {
	0%{
		transform: translate(0px);
	}
	30%{
		transform: translate(-300px);
	}
	60%{
		transform: translate(1000px);
	}
	100%{
		transform: translate(0px);
	}
}
.thirdcloud {
	animation: cloudthird 50s infinite;
}
@keyframes cloudthird {
	0%{
		transform: translate(0px);
	}
	30%{
		transform: translate(300px);
	}
	60%{
		transform: translate(-1000px);
	}
	100%{
		transform: translate(0px);
	}
}
.fourthcloud {
	animation: cloudfourch 60s infinite;
}
@keyframes cloudfourch {
	0%{
		transform: translate(0px);
	}
	50%{
		transform: translate(-1300px);
	}
	100%{
		transform: translate(0px);
	}
}
.element__sun {
	animation: sun 30s infinite;
}
@keyframes sun {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
.sun {
	width: 100px;
	height: 100px;
	background-color: rgb(241, 226, 7);
	border-radius: 50%;
	position: relative;
}

.sun__ray:nth-child(odd){
	display: inline-block;
	width: 2px;
	height: 50px;
	background-color: rgb(241, 226, 7);
	position: absolute;
	animation: ray 3s infinite;
}
.sun__ray:nth-child(even){
	display: inline-block;
	width: 2px;
	height: 30px;
	background-color: rgb(241, 226, 7);
	position: absolute;
	animation: ray 4s infinite;
	}
@keyframes ray {
	0%{
		background-color: rgba(241, 225, 7, 0)
	}
	100%{
		background-color: rgb(241, 226, 7)
	}
}

.sun__ray:nth-child(1){
	position: absolute;
	top: -53px;
	left: 45px;
}
.sun__ray:nth-child(2){
	position: absolute;
	top: -10px;
	right: -3px;
	transform: rotate(45deg);
}
.sun__ray:nth-child(3){
	position: absolute;
	bottom: -53px;
	left: 45px;
}
.sun__ray:nth-child(4){
	position: absolute;
	bottom: -10px;
	left: -3px;
	transform: rotate(45deg);
}
.sun__ray:nth-child(5){
	position: absolute;
	top: 20px;
	right: -30px;
	transform: rotate(90deg);
}
.sun__ray:nth-child(6){
	position: absolute;
	top: -10px;
	left: -3px;
	transform: rotate(-45deg);
}
.sun__ray:nth-child(7){
	position: absolute;
	top: 20px;
	left: -30px;
	transform: rotate(90deg);
}
.sun__ray:nth-child(8){
	position: absolute;
	bottom: -10px;
	right: -3px;
	transform: rotate(-45deg);
}
.element {
	margin-bottom: 150px;
}

/* field */

.main__field{
width: 100%;
height: 250px;
background-color: yellow;
position: relative;
}
.main__field img{
	position: absolute;
	bottom: 0;
	left: 10px;
	transform: translateX(-110%);
	animation: zsu 5s linear;
}
@keyframes zsu {
	0%{
		transform: translateX(-110%);
	}
	30%{
		transform: translateX(0);
	}
	60%{
		transform: translateX(0);
	}
	100%{
		transform: translateX(-110%);
	}
}

/* car */


.mycar {
	width: 800px;
	height: 250px;
	margin: 0 auto;
	position: absolute;
	bottom: 83px;
	left: 25%;
	animation: car-ride 10s forwards;
}

@keyframes car-ride {
	0%{
		transform: translate(150%, 0px);
	} 
	30%{
		transform: translate(0%, 0px);
	}
	70%{
		transform: translate(0%, 0px);
	}
	100%{
		transform: translate(-150%, 0px);
	}
}
.mycar__block {
	position: relative;
}

/* car-roof */

.mycar__rail{
	margin-bottom: 7px;
	width: 250px;
	height: 8px;
	background-color: black;
	margin-left: 390px;
	position: relative;
	border-radius: 40px 40px 0 0;
}
.mycar__rail::before{
	content: "";
	display: inline-block;
	width: 30px;
	height: 20px;
	background-color: black;
	position: absolute;
	top: 0;
	left: -20px;
	border-radius: 100% 0 0 0;

}
.mycar__rail::after{
	content: "";
	display: inline-block;
	width: 30px;
	height: 20px;
	background-color: black;
	position: absolute;
	top: 0;
	right: -20px;
	border-radius: 0 100% 0 0;
}

/* roof */

.mycar__roof{
	width: 450px;
	border-radius: 40% 20% 0 0;
	margin: 0 0 0 250px ;
	border-bottom: 70px solid rgb(9 35 7);
	border-left: 80px solid transparent;
	border-right: 20px solid transparent;
	position: relative;
}
.mycar__roof::after{
	content: "";
	display: inline-block;
	width: 35px;
	height: 100px;
	background-color: rgb(9 35 7);
	position: absolute;
	top: 46px;
	right: -55px;
	border-radius: 10px;
	border-right: 3px solid #323030c7;
   border-left: 2px solid #323030c7;
}
.roof-element__front-glass {
	position: absolute;
	top: 15px;
	left: -70px;
	width: 175px;
	border-bottom: 70px solid rgb(63 96 103);
	border-left: 80px solid transparent;
	border-right: 0px solid transparent;
}

.roof-element__front-glass::before{
	content: "";
	display: inline-block;
	width: 94px;
	height: 0.5px;
	background-color: black;
	position: absolute;
	top: 24px;
	left: -90px;
	transform: rotate(-40deg);
	border-radius: 10%;
}
.roof-element__front-glass::after{
	content: "";
	display: inline-block;
	width: 251px;
	height: 0.5px;
	background-color: black;
	position: absolute;
	top: -6px;
	left: -8px;
	border-radius: 20%;
}
.roof-element__back-glass {
	position: absolute;
	top: 15px;
	right: 95px;
	width: 126px;
	height: 44px;
	border-bottom: 70px solid rgb(63 96 103);
	border-left: 0px solid transparent;
	border-right: 12px solid transparent;
}
.roof-element__back-glass::before{
	content: "";
	display: inline-block;
	width: 0.5px;
	height: 98px;
	background-color: black;
	position: absolute;
	top: -6px;
	left: -12px;
	border-radius: 20%;
}
.roof-element__back-glass::after{
	content: "";
	display: inline-block;
	width: 0.5px;
	height: 98px;
	background-color: black;
	position: absolute;
	top: -7px;
	right: -20px;
	border-radius: 20%;
	transform: rotate(-12deg);
}
.roof-element__rear-glass {
	position: absolute;
	top: 15px;
	right: -5px;
	width: 70px;
	height: 42px;
	border-bottom: 70px solid rgb(63 96 103);
	border-left: 2px solid transparent;
	border-right: 20px solid transparent;
}
.body-element__mirror{
	position: absolute;
	top: -24px;
	left: 172px;
	width: 33px;
	height: 35px;
	background-color: black;
	border-radius: 100% 7px 10px 6px;
}

/* car-body */

.mycar__body {
	width: 600px;
	height: 110px;
	background-color: rgb(9 35 7);
	margin: 0 auto;
	border-radius: 25% 0px 10px 10px;
	position: relative;
}
.mycar__body::before{
	content: "";
	display: inline-block;
	width: 50px;
	height: 40px;
	background-color: #151414;
	position: absolute;
	left: -15px;
	bottom: -5px;
	border-radius: 30% 20% 20% 30%;
}
.mycar__body::after{
	content: "";
	display: inline-block;
	width: 50px;
	height: 40px;
	background-color: #151414;
	position: absolute;
	right: -15px;
	bottom: -5px;
	border-radius: 20% 30% 30% 20%;
}
.body-element{
	position: relative;
}

.arch-front,
.arch-rear{
	position: absolute;
	bottom: 0px;
	left: 41px;
}
.body-element__arch:last-child{
	position: absolute;
	bottom: 0px;
	right: 38px;
}
.body-element__fender{
	background-color: black;
	border-top-left-radius: 110px;
	border-top-right-radius: 110px;
	border: 10px solid #191a19;
	border-bottom: 0;
}

.fender-front{
	position: absolute;
	bottom: 0;
	left: -6px;
	width: 140px;
	height: 71px;
}
.fender-right{
	position: absolute;
	bottom: 0;
	left: 387px;
	width: 140px;
	height: 71px;
}
.body-element__front-light {
	width: 19px;
	height: 40px;
	background-color: #ebec87;
	position: absolute;
	top: 28px;
	left: 0;
	border-radius: 7px 4px 8px 3px;
	border: 0.5px solid black;
}
.body-element__front-light::before{
	content: "";
	display: inline-block;
	position: absolute;
	top: 0px;
	left: -336px;
	width: 325px;
	height: 101px;
	background-color: rgb(245 240 35 / 0%);
	border-radius: 104% 8px 80% 6px;
	box-shadow: 5px -4px 18px rgba(241, 236, 9, 0%);
	animation: front-light 5s linear 1.8s;
}
@keyframes front-light{
	0%{
		background-color: rgb(245 240 35 / 0%);
		box-shadow: 5px -4px 18px rgba(241, 236, 9, 0%);
	}
	20%{
		background-color: rgb(245 240 35 / 47%);
		box-shadow: 5px -4px 18px #f1ec0996;
	}
	40%{
		background-color: rgb(245 240 35 / 0%);
		box-shadow: 5px -4px 18px rgba(241, 236, 9, 0%);
	}
	60%{
		background-color: rgb(245 240 35 / 47%);
		box-shadow: 5px -4px 18px #f1ec0996;
	}
	80%{
		background-color: rgb(245 240 35 / 0%);
		box-shadow: 5px -4px 18px rgba(241, 236, 9, 0%);
	}
	100%{
		background-color: rgb(245 240 35 / 47%);
		box-shadow: 5px -4px 18px #f1ec0996;
	}
}

.body-element__front-light::after{
	content: "";
	display: inline-block;
	width: 9px;
	height: 39px;
	background-color: rgb(245, 147, 35);
	border-radius: 9px 4px 4px 7px;
	margin-left: 10px;
	animation: front-turn 3s linear 2s;
}
@keyframes front-turn{
	0%{
		background-color: rgb(245, 147, 35);
	}
	20%{
		background-color: rgb(187, 27, 22);
	}
	40%{
		background-color: rgb(245, 147, 35);
	}
	60%{
		background-color: rgb(187, 27, 22);
	}
	80%{
		background-color: rgb(245, 147, 35);
	}
	100%{
		background-color: rgb(187, 27, 22);
	}
}
.body-element__rear-light {
	width: 19px;
	height: 53px;
	background-color: #911713;
	position: absolute;
	top: 17px;
	right: 0;
	border-radius: 55px 2px 3px 10px;
	border: 1px solid black;
	animation: rear-light 6.5s linear 1.4s;
}
@keyframes rear-light{
	0%{
		box-shadow: none;
		background-color: #911713;
	}
	10%{
		box-shadow: 13px -1px 21px 9px #dc0909;
		background-color: #dc0909;
	}
	80%{
		box-shadow: 13px -1px 21px 9px #dc0909;
		background-color: #dc0909;
	}
	100%{
		box-shadow: none;
		background-color: #911713;
	}
}
.body-element__rear-light::before{
	content: "";
	display: inline-block;
	width: 17px;
	height: 12px;
	background-color: rgb(245, 147, 35);
	border-radius: 1px 1px 1px 1px;
	margin-top: 16px;
	animation: front-turn 3s linear 2s;
}
.body-element__rear-light::after{
	content: "";
	display: inline-block;
	width: 17px;
	height: 8px;
	background-color: #ebec87;
	border-radius: 1px 1px 1px 1px;
	margin-top: 2px;
}
.body-element__line-body{
	position: absolute;
	top: 23px;
	left: 6px;
	width: 575px;
	height: 1px;
	background-color: black;
	border-radius: 50%;
}
.body-element__line-frontdoor{
	position: absolute;
	left: 161px;
	top: -1px;
	width: 0.5px;
	height: 68px;
	background-color: black;
}
.body-element__line-reardoor{
	position: absolute;
	right: 104px;
	top: 0px;
	width: 0.5px;
	height: 39px;
	background-color: black;
}
.body-element__line-centrdoor{
	position: absolute;
	left: 347px;
	top: -1px;
	width: 0.5px;
	height: 96px;
	background-color: black;
}
.body-element__line-bottomdoor{
	position: absolute;
	left: 174px;
	bottom: 15px;
	width: 255px;
	height: 0.5px;
	background-color: black;
}
.body-element__line-bottom{
	position: absolute;
	bottom: 0px;
	left: 162px;
	width: 277px;
	height: 4px;
	background-color: black;
}
.body-element__line-bottom::before{
	content: "";
	display: inline-block;
	position: absolute;
	bottom: 0px;
	left: -128px;
	width: 14px;
	height: 4px;
	background-color: black;
}
.body-element__line-bottom::after{
	content: "";
	display: inline-block;
	position: absolute;
	bottom: 0px;
	right: -129px;
	width: 14px;
	height: 4px;
	background-color: black;
}
.body-element__handle-front {
	position: absolute;
	top: 16px;
	left: 311px;
	width: 32px;
	height: 15px;
	background-color: #4d4949;
	border-radius: 20px;
	border: 0.5px solid black;
}
.body-element__handle-front::before{
	content: "";
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 32px;
	height: 7px;
	background-color: black;
	border-radius: 20px 20px 0 0;
}
.body-element__handle-rear {
	position: absolute;
	top: 16px;
	right: 109px;
	width: 32px;
	height: 15px;
	background-color: #4d4949;
	border-radius: 20px;
	border: 0.5px solid black;
}
.body-element__handle-rear::before{
	content: "";
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 32px;
	height: 7px;
	background-color: black;
	border-radius: 20px 20px 0 0;
}
.body-element__molding{
	position: absolute;
	bottom: 38px;
	left: 168px;
	width: 269px;
	height: 17px;
	background-color: #000000c9;
	border-radius: 20px;
}




/* wheels */

.mycar__wheels {
	position: absolute;
	bottom: -40px;
	left: 150px;
	width: 500px;
	height: 90px;
}
.mycar__item {
	display: inline-block;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: rgb(39 39 39);
	position: relative;
	border: 10px dashed rgb(22 18 18);
	animation: wheels 20s linear;
}
@keyframes wheels {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(-6000deg);
	}
}

.wheel:not(:last-child) {
	margin-left: 5px;
	margin-right: 290px;
}

.wheel__disc{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background-color: rgb(82, 75, 75);
	position: relative;
	border: 5px solid #1b1b1b;
}
.wheel__ray{
	position: absolute;
	top: 0;
	left: 45%;
	display: inline-block;
	width: 8px;
	height: 72px;
	background-color: #1b1b1b;
}
.wheel__ray:nth-child(2){
transform: rotate(45deg);
}
.wheel__ray:nth-child(3){
	transform: rotate(90deg);
	}
	.wheel__ray:nth-child(4){
		transform: rotate(135deg);
		}


/* road */

.road{
background-color: rgb(82, 75, 75);
}
.road__items {

}
.road__item-band {
	height: 76px;
	width: 100%;
	background-color: rgb(82, 75, 75);
}
.road__item-line {
	width: 100%;
	border-bottom: 7px dashed white;
	animation: road-line 100ms infinite;
}
@keyframes road-line{
	0%{
		transform: translate(-10px);
	}
	100%{
		transform: translate(0px);
	}
}
